<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**
* List popular languages for data science
* Introduction to Python and R as programming languages for data analysis
* Libraries for data science
* Getting Started with Jupyter Notebooks
* Understand the basics of Git and Github
* Explore popular code editors and development environment for programming

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. SciPy
4. Matplotlib
5. TensorFlow
6. Scikit-learn
7. Apache Spark

| Data Science Tools |
|--------------------|
|      ANACONDA      |
|       VS CODE      |
|     JUPYTERLAB     |
|        MAX         |
|        DAX         |

### Below are a few examples of evaluating arithmetic expressions in Python.

6 + 8 == 14
15 - 5 == 10
3 * 4 == 12
18 / 6 == 3

In [7]:
# To solve the mathematical operation you must first multiply the values found within the parentheses (3*4).
# Then, to that result (12), we must add the value 5. This gives a total result of 17.

(3*4)+5

17

In [8]:
# In the cell we will convert 200 minutes into hours by diving by 60.

minutos = 200
horas = 60

print (200/60)

3.3333333333333335

## Author
Facundo Emilio Manuel Santos